<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0;
        }
        thead th {
            text-align: left;
            border-bottom: 2px solid #555;
        }
        .btm-border, td[rowspan] {
            border-bottom: 1px solid #aaa;
        }
        .darker-bg {
            background-color: #eee;
        }
        tbody tr td:nth-last-child(2) {
            text-align: left;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Дата</th>
                <th>Изделие</th>
                <th>Брой</th>
                <th>Продукт</th>
                <th>Количество</th>
                <th>Партиден номер</th>
            </tr>
        </thead>
        <tbody>
            @{ 
                int counter = 0;
            }
            @foreach (var dessert in Model.Desserts)
            {
                string styleClass = (counter++ % 2 == 0) ? "darker-bg" : "";
                string styleClassBorder = "";
                if (dessert.Ingredients.Count == 1)
                {
                    styleClassBorder = "btm-border";
                }
                <tr class="@styleClass">
                    <td rowspan="@(dessert.Ingredients.Count)">@Model.IssueDate.ToShortDateString()</td>
                    <td rowspan="@(dessert.Ingredients.Count)">@dessert.Name</td>
                    <td rowspan="@(dessert.Ingredients.Count)">@dessert.Quantity</td>
                    <td class="@styleClassBorder">@dessert.Ingredients[0].Name</td>
                    <td class="@styleClassBorder">@dessert.Ingredients[0].Quantity.ToString("0.#######") @dessert.Ingredients[0].Unit</td>
                    <td class="@styleClassBorder">@dessert.Ingredients[0].BatchNumber</td>
                </tr>
                for (int i = 1; i < dessert.Ingredients.Count; i++)
                {
                    styleClassBorder = "";
                    if (i == dessert.Ingredients.Count - 1)
                    {
                        styleClassBorder = "btm-border";
                    }
                    <tr class="@styleClass">
                        <td class="@styleClassBorder">@dessert.Ingredients[i].Name</td>
                        <td class="@styleClassBorder">@dessert.Ingredients[i].Quantity.ToString("0.#######") @dessert.Ingredients[i].Unit</td>
                        <td class="@styleClassBorder">@dessert.Ingredients[i].BatchNumber</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</body>
</html>